# fond-of-spryker/google-site-verification

> 标签: PHP

## 简介

fond-of-spryker/google-site-verification - PHP library from Packagist

按 require.php 推断最低支持 PHP 7；已收录于 php-v7, php-v8。

## 官网

- 官网：https://packagist.org/packages/fond-of-spryker%2Fgoogle-site-verification
- 源码仓库：https://github.com/fond-of/spryker-google-site-verification.git
- Packagist 页面：https://packagist.org/packages/fond-of-spryker%2Fgoogle-site-verification

## 历史版本号

- 当前版本：1.0.0

- 1.0.0

## 获取地址

- Composer 安装：`composer require fond-of-spryker/google-site-verification`
- Packagist 仓库：https://repo.packagist.org/p2/fond-of-spryker/google-site-verification.json
- 许可证：MIT
- PHP 要求：>=7.2
