# cashfree/cashfree-verification

> 标签: api, cashfree, php, rest, sdk, verification suite

## 简介

Cashfree's Verification APIs provide different types of verification to our merchants.

按 require.php 推断最低支持 PHP 7；已收录于 php-v7, php-v8。

## 官网

- 官网：https://www.cashfree.com
- 源码仓库：https://github.com/cashfree/cashfree-verification-sdk-php.git
- Packagist 页面：https://packagist.org/packages/cashfree%2Fcashfree-verification

## 历史版本号

- 当前版本：3.0.1

- 1.0.0
- 1.0.1
- 2.0.0
- 2.0.1
- 3.0.0
- 3.0.1

## 获取地址

- Composer 安装：`composer require cashfree/cashfree-verification`
- Packagist 仓库：https://repo.packagist.org/p2/cashfree/cashfree-verification.json
- 许可证：Apache-2.0
- PHP 要求：^7.2 || ^8.0
