# alexgeno/phone-verification

> 标签: 2fa, 2factor, Authentication, call, messagebird, mongo, otp, phone, redis, signin, signup, sms, twilio, verification, verify, verify-by-phone, vonage

## 简介

An extensible and configurable php library to verify a phone

按 require.php 推断最低支持 PHP 7；已收录于 php-v7, php-v8。

## 官网

- 官网：https://github.com/alexeygeno/phone-verification-php
- 源码仓库：https://github.com/alexeygeno/phone-verification-php.git
- Packagist 页面：https://packagist.org/packages/alexgeno%2Fphone-verification

## 历史版本号

- 当前版本：v1.0.6

- v1.0.0
- v1.0.1
- v1.0.2
- v1.0.3
- v1.0.4
- v1.0.5
- v1.0.6

## 获取地址

- Composer 安装：`composer require alexgeno/phone-verification`
- Packagist 仓库：https://repo.packagist.org/p2/alexgeno/phone-verification.json
- 许可证：MIT
- PHP 要求：>=7.4
