# chandachewe/php-email-verification

> 标签: PHP

## 简介

This is the PHP package which allows the system to send verification emails to the new registered users. It uses PHPMAILER

按 require.php 推断最低支持 PHP 7；已收录于 php-v7, php-v8。

## 官网

- 官网：https://packagist.org/packages/chandachewe%2Fphp-email-verification
- 源码仓库：https://github.com/chandachewe10/PHP-EMAIL-VERIFICATION.git
- Packagist 页面：https://packagist.org/packages/chandachewe%2Fphp-email-verification

## 历史版本号

- 当前版本：v1.0.0

- v1.0.0

## 获取地址

- Composer 安装：`composer require chandachewe/php-email-verification`
- Packagist 仓库：https://repo.packagist.org/p2/chandachewe/php-email-verification.json
- 许可证：MIT
- PHP 要求：^7.3|^8.0
