# dniccum/mailgun-domain-verification

> 标签: laravel, mailgun, nova

## 简介

A Laravel Nova resource tool that allows you to add domains to a Mailgun account and verify their status.

按 require.php 推断最低支持 PHP 7；已收录于 php-v7, php-v8。

## 官网

- 官网：https://github.com/dniccum/nova-mailgun-verification
- 源码仓库：https://github.com/dniccum/nova-mailgun-verification.git
- Packagist 页面：https://packagist.org/packages/dniccum%2Fmailgun-domain-verification

## 历史版本号

- 当前版本：v1.3.0

- v1.0.0
- v1.0.1
- v1.1.0
- v1.1.1
- v1.1.2
- v1.1.3
- v1.2
- v1.3.0

## 获取地址

- Composer 安装：`composer require dniccum/mailgun-domain-verification`
- Packagist 仓库：https://repo.packagist.org/p2/dniccum/mailgun-domain-verification.json
- 许可证：MIT
- PHP 要求：>=7.1.0
