# gorokhovdv/safetynet-verification

> 标签: PHP

## 简介

Smart (Online/Offline) SafetyNet verification

按 require.php 推断最低支持 PHP 5；已收录于 php-v5, php-v7, php-v8。

## 官网

- 官网：https://packagist.org/packages/gorokhovdv%2Fsafetynet-verification
- 源码仓库：https://github.com/GorokhovDV/SafetyNetAttestation.git
- Packagist 页面：https://packagist.org/packages/gorokhovdv%2Fsafetynet-verification

## 历史版本号

- 当前版本：0.0.3

- 0.0.1
- 0.0.2
- 0.0.3

## 获取地址

- Composer 安装：`composer require gorokhovdv/safetynet-verification`
- Packagist 仓库：https://repo.packagist.org/p2/gorokhovdv/safetynet-verification.json
- 许可证：MIT
