# edisonlabs/policy-verification

> 标签: PHP

## 简介

PHP library for policies verification and report.

按 require.php 推断最低支持 PHP 5；已收录于 php-v5, php-v7, php-v8。

## 官网

- 官网：https://packagist.org/packages/edisonlabs%2Fpolicy-verification
- 源码仓库：https://github.com/EdisonLabs/policy-verification.git
- Packagist 页面：https://packagist.org/packages/edisonlabs%2Fpolicy-verification

## 历史版本号

- 当前版本：1.2.0

- 1.0.0
- 1.0.1
- 1.1.0
- 1.2.0

## 获取地址

- Composer 安装：`composer require edisonlabs/policy-verification`
- Packagist 仓库：https://repo.packagist.org/p2/edisonlabs/policy-verification.json
- 许可证：GPL-2.0+
