# 1account/1account-age-verification

> 标签: PHP

## 简介

Magento 2 Customer 1Account Verification

按 require.php 推断最低支持 PHP 5；已收录于 php-v5, php-v7, php-v8。

## 官网

- 官网：https://packagist.org/packages/1account%2F1account-age-verification
- 源码仓库：https://github.com/1account/1account-age-verification.git
- Packagist 页面：https://packagist.org/packages/1account%2F1account-age-verification

## 历史版本号

- 当前版本：1.0.4

- 1.0.0
- 1.0.1
- 1.0.4

## 获取地址

- Composer 安装：`composer require 1account/1account-age-verification`
- Packagist 仓库：https://repo.packagist.org/p2/1account/1account-age-verification.json
- 许可证：OSL-3.0, AFL-3.0
