# mobilestock/laravel-model-affected-rows-verification

> 标签: PHP

## 简介

laravel-model-affected-rows-verification is a library that extends the default Laravel model to include implicit row count verification for update and delete operations. This ensures that these operations are conducted safely, providing an extra layer of validation to prevent unintended data modifications and enhance the stability of your Laravel applications.

按 require.php 推断最低支持 PHP 5；已收录于 php-v5, php-v7, php-v8。

## 官网

- 官网：https://packagist.org/packages/mobilestock%2Flaravel-model-affected-rows-verification
- 源码仓库：https://github.com/mobilestock/laravel-model-affected-rows-verification.git
- Packagist 页面：https://packagist.org/packages/mobilestock%2Flaravel-model-affected-rows-verification

## 历史版本号

- 当前版本：v1.0.1171

- v1.0.989
- v1.0.99
- v1.0.990
- v1.0.991
- v1.0.992
- v1.0.993
- v1.0.994
- v1.0.995
- v1.0.996
- v1.0.997
- v1.0.998
- v1.0.999
- 共 1476 个稳定版本，完整清单见 Packagist。

## 获取地址

- Composer 安装：`composer require mobilestock/laravel-model-affected-rows-verification`
- Packagist 仓库：https://repo.packagist.org/p2/mobilestock/laravel-model-affected-rows-verification.json
