# hizbul/laravel-sms-verification

> 标签: SMS Verification Laravel, SMS Verification OnnoRokom, sms verification

## 简介

Send SMS to verify your phone number in laravel.

按 require.php 推断最低支持 PHP 5；已收录于 php-v5, php-v7, php-v8。

## 官网

- 官网：https://packagist.org/packages/hizbul%2Flaravel-sms-verification
- 源码仓库：https://github.com/hizbul25/laravel-sms-verification.git
- Packagist 页面：https://packagist.org/packages/hizbul%2Flaravel-sms-verification

## 历史版本号

- 当前版本：v1.2

- 1.0
- v1.1
- v1.2

## 获取地址

- Composer 安装：`composer require hizbul/laravel-sms-verification`
- Packagist 仓库：https://repo.packagist.org/p2/hizbul/laravel-sms-verification.json
- 许可证：MIT
