# aliabdulaziz/laravel-email-verification

> 标签: PHP

## 简介

This Laravel package provides a simple solution for email verification.

按 require.php 推断最低支持 PHP 5；已收录于 php-v5, php-v7, php-v8。

## 官网

- 官网：https://packagist.org/packages/aliabdulaziz%2Flaravel-email-verification
- 源码仓库：https://github.com/aliabdulaziz/laravel-email-verification.git
- Packagist 页面：https://packagist.org/packages/aliabdulaziz%2Flaravel-email-verification

## 历史版本号

- 当前版本：v1.0.3

- v1.0.1
- v1.0.2
- v1.0.3

## 获取地址

- Composer 安装：`composer require aliabdulaziz/laravel-email-verification`
- Packagist 仓库：https://repo.packagist.org/p2/aliabdulaziz/laravel-email-verification.json
- 许可证：MIT
