# swissup/module-breeze-amasty-age-verification

> 标签: PHP

## 简介

swissup/module-breeze-amasty-age-verification - PHP library from Packagist

按 require.php 推断最低支持 PHP 5；已收录于 php-v5, php-v7, php-v8。

## 官网

- 官网：https://packagist.org/packages/swissup%2Fmodule-breeze-amasty-age-verification
- 源码仓库：https://github.com/breezefront/module-breeze-amasty-age-verification.git
- Packagist 页面：https://packagist.org/packages/swissup%2Fmodule-breeze-amasty-age-verification

## 历史版本号

- 当前版本：1.0.2

- 1.0.0
- 1.0.1
- 1.0.2

## 获取地址

- Composer 安装：`composer require swissup/module-breeze-amasty-age-verification`
- Packagist 仓库：https://repo.packagist.org/p2/swissup/module-breeze-amasty-age-verification.json
- 许可证：OSL-3.0
