# controlaltdelete/wordpress-google-site-verification

> 标签: PHP

## 简介

Add the Google Site Verification tag to your WordPress site

按 require.php 推断最低支持 PHP 5；已收录于 php-v5, php-v7, php-v8。

## 官网

- 官网：https://packagist.org/packages/controlaltdelete%2Fwordpress-google-site-verification
- 源码仓库：https://github.com/controlaltdelete-nl/wordpress-google-site-verification.git
- Packagist 页面：https://packagist.org/packages/controlaltdelete%2Fwordpress-google-site-verification

## 历史版本号

- 当前版本：v1.0

- v1.0

## 获取地址

- Composer 安装：`composer require controlaltdelete/wordpress-google-site-verification`
- Packagist 仓库：https://repo.packagist.org/p2/controlaltdelete/wordpress-google-site-verification.json
- 许可证：Beerware
